* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos del contenedor principal */
.container-index {
  display: grid;
  grid-template-areas:
    "header header"
    "p section-1"
    "p section-3"
    "p section-4"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f3ebe1;
}

/* Estilos del encabezado */
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1bfa7;
  padding: 10px;
  height: calc(50% - 20px);
}

.header h1 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  color: #231f20;
}

/* Estilos de la sección principal */
.section-1 {
  grid-area: section-1;
}

.section-1 label,
.section-1 input,
.section-1 button {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.section-1 input[type="text"],
.section-1 button {
  padding: 8px;
}

.section-1 input[type="text"] {
  border: 1px solid #d1bfa7;
}

.section-1 button {
  background-color: #b1a089;
  color: #fff;
  border: none;
  cursor: pointer;
}

.section-1 button:hover {
  background-color: #8c7a6a;
}

/* Estilos de la barra de resultado */
#resultado {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #d1bfa7;
  font-weight: normal;
  text-align: right;
  background-color: #f3ebe1;
  font-size: 18px;
}

/* Estilos de la barra lateral */
.aside {
  grid-area: aside;
}

.aside-index {
  grid-area: p;
}

.aside-p {
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.5;
  color: #231f20;
}

/* Estilos del pie de página */
.footer-container {
  display: flex;
  justify-content: flex-end;
  grid-area: footer;
  background-color: transparent;
  gap: 10px;
  border-top: 1px solid #d1bfa7;
  padding-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-container .icono-whatsapp,
.footer-container .icono-instagram,
.footer-container .icono-linkedin {
  width: 30px;
  margin-right: 10px;
}

#mostrarBtn {
  background-color: #b1a089;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
}

#mostrarBtn:hover {
  background-color: #8c7a6a;
}
